.main-dash {
  width: 100%;
  display: flex;
  border: 1px solid lightgray;
  justify-content: space-between;
}
.main-dash p{
  margin-left: 1rem;
   margin-top: 0.8rem;
}

.dropbtn {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline;
}

p {
  margin-top: 1rem;
  font-weight: 600;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container{
  margin-top: 2rem;
}
.car-item{
  margin: 30px 50px;
}
.car-item span{
  margin: 0 10px;
}
.box {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;

  min-height: 200px;
  width: 10vw;
  margin: 25px;
  background: white;
  border-radius: 5px;
}