.marketing-main {
    display: flex;
    box-shadow:
        0 2.8px 2.2px lightgray,
        0 5px 5px lightgray,
        0 5px 5px lightgray,
        0 5px 5px lightgray,
        0 5px 5px lightgray,
        0 5px 5px lightgray;
}
.mark-div{
    width: 50vw;
    height: 100vh;
    border: 1px solid lightgray;
    margin: 10px;
    box-shadow:
        0 2.8px 2.2px lightgray,
        0 5px 5px lightgray,
        0 5px 5px lightgray,
        0 5px 5px lightgray,
        0 5px 5px lightgray,
        0 5px 5px lightgray;
}
.button-mark{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button{
    background-color: white;
    border:none;
    margin-left: 5rem;
}