.sidebar {
    width: 14rem;
}

.sidebar ul {
    list-style-type: none;
    border: 1px solid lightgray;
}

.sidebar ul li {
    width: 100%;
    height: 2.5rem;
    padding: 5px;
    color: black;
    border: 1px solid lightgray;
}
.sidebar small {
    margin-left: 1rem;
}
